#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.operation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.operation input {
    padding: 6px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

pre {
    font-size: 20px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 41%;
    top: 30px;
    font-size: 16px;
}

#snackbar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {top: 10px; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 10px; opacity: 0;}
}
